:root {
  --weather-unselected-city-background: #e0ded7;
  --weather-unselected-city-text: #000000;
  --weather-selected-city-background: #000000;
  --weather-selected-city-text: #ffffff;
  --weather-temperature-background: #55b9be;
  --weather-temperature-text: #ffffff;
  --weather-condition-background: #5fc67a;
  --weather-condition-text: #ffffff;
  --weather-forecast-background: #e0ded7;
  --weather-forecast-text: #000000;
}

.weather-app {
  width: 100%;
  gap: 16px;
}

@media (min-width: 768px) {
  .weather-app {
    max-width: 768px;
  }
}

.weather-app-container {
  min-height: 300px;
}
