:root {
  --weather-unselected-city-background: #e0ded7;
  --weather-unselected-city-text: #000000;
  --weather-selected-city-background: #000000;
  --weather-selected-city-text: #ffffff;
  --weather-temperature-background: #55b9be;
  --weather-temperature-text: #ffffff;
  --weather-condition-background: #5fc67a;
  --weather-condition-text: #ffffff;
  --weather-forecast-background: #e0ded7;
  --weather-forecast-text: #000000;
}

.weather-app {
  width: 100%;
  gap: 16px;
}

@media (min-width: 768px) {
  .weather-app {
    max-width: 768px;
  }
}

.current-city,
.current-temperature,
.current-condition {
  padding: 40px;
  line-height: 1;
  border-radius: 8px;
}

.current-temperature,
.current-condition {
  text-wrap: nowrap;
}

.current-city {
  margin-bottom: 16px;
  padding: 32px;
  background-color: var(--weather-selected-city-background);
  color: var(--weather-selected-city-text);
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
}

.current-weather-details {
  column-gap: 16px;
}

.current-temperature-unit,
.current-condition-icon {
  margin-bottom: 16px;
}

.current-temperature {
  background-color: var(--weather-temperature-background);
  color: var(--weather-temperature-text);
  font-size: 64px;
  font-weight: 700;
}

.current-condition {
  background-color: var(--weather-condition-background);
  color: var(--weather-condition-text);
}

.current-condition-image {
  width: 100%;
}

.subheading {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}
