@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333333;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
