:root {
  --weather-unselected-city-background: #e0ded7;
  --weather-unselected-city-text: #000000;
  --weather-selected-city-background: #000000;
  --weather-selected-city-text: #ffffff;
  --weather-temperature-background: #55b9be;
  --weather-temperature-text: #ffffff;
  --weather-condition-background: #5fc67a;
  --weather-condition-text: #ffffff;
  --weather-forecast-background: #e0ded7;
  --weather-forecast-text: #000000;
}

.weather-app {
  gap: 16px;
}

.cities-list {
  column-gap: 16px;
  overflow-x: scroll;
}

@media (min-width: 768px) {
  .cities-list-item {
    flex: 1 1 auto;
    max-width: 33.33333%;
  }
}

.button--city {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px 24px;
  background-color: var(--weather-unselected-city-background);
  border-radius: 8px;
  color: var(--weather-unselected-city-text);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.button--city-selected {
  background-color: var(--weather-selected-city-background);
  color: var(--weather-selected-city-text);
}

.current-city,
.current-temperature,
.current-condition {
  padding: 40px;
  line-height: 1;
  border-radius: 8px;
}

.current-temperature,
.current-condition {
  max-width: 50%;
  flex: 1 1 50%;
  text-wrap: nowrap;
}

.current-city {
  margin-bottom: 16px;
  padding: 32px;
  background-color: var(--weather-selected-city-background);
  color: var(--weather-selected-city-text);
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
}

.current-weather-details {
  column-gap: 16px;
}

.current-temperature-unit,
.current-condition-icon {
  margin-bottom: 16px;
}

.current-temperature {
  background-color: var(--weather-temperature-background);
  color: var(--weather-temperature-text);
  font-size: 64px;
  font-weight: 700;
}

.current-condition {
  background-color: var(--weather-condition-background);
  color: var(--weather-condition-text);
}

.current-condition-image {
  width: 100%;
}

.subheading {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.forecast {
  background-color: var(--weather-forecast-background);
  border-radius: 8px;
  color: var(--weather-forecast-text);
}

.forecast-list {
  height: 100%;
  padding: 40px 16px;
}

.forecast-day {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.forecast-temperature {
  font-size: 54px;
  font-weight: 700;
  line-height: 1;
}
